
/** 公共样式 begin **/

.home {
	.icon {
		display: inline-block;
		width: calc(4.5rem * $zoom);
		height: calc(4.5rem * $zoom);
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		&.menu {
			background-image: url("$img-dir/common_nav_btn_leftbar_n.png");
		}
		&.notice {
			background-image: url("$img-dir/common_nav_btn_record_n.png");
		}
		&.add {
			background-image: url("$img-dir/common_nav_btn_add_n.png");
		}
		&.arrow {
			&.down {
				background-image: url("$img-dir/home_icon_down_arrow_n.png");
			}
			&.up {
				background-image: url("$img-dir/home_icon_down_arrow_s.png");
			}
		}
		&.back{
			 background: url($img-dir/common_nav_btn_back_n.png) center no-repeat;
			 background-size: 2.25rem 2.25rem;
		}
		&.setting {
			 background: url("$img-dir/common_nav_btn_setting_n.png") center no-repeat;
			 background-size: 2.25rem 2.25rem;
		}
		&.close{
			background-image: url($img-dir/home_long_press_icon_close_n.png);
		}
	}
}

/** 公共样式 end **/

/** 主页样式 begin **/

.home.main {
	height: 100vh;
	overflow: hidden;
	background-image: url($img-dir/bg.png);
  background-size: cover;
	background-repeat:no-repeat; 
	.bar-title{
		.icon {
			$size: 22px;
			position: absolute;
			&.menu {
				left: calc((2.67rem - $size) * $zoom);
			}
			&.notice {
				right: calc((2.67rem * 3 + $size) * $zoom);
			}
			&.setting {
				right: calc((2.67rem - $size) * $zoom);
			 }
		}
	}
	.switch-home {
		height: calc(8.67rem * $zoom);
		overflow: hidden;
		position: fixed;
		z-index: 3;
		.view {
			font-size: calc(54px * $zoom);
			height: calc(54px * $zoom);
			line-height: calc(54px * $zoom);
			color: $text-color;
			margin-top: calc(1.04rem * $zoom);
			margin-left: calc(2.67rem * $zoom);
			vertical-align: middle;
			span {
				color: white;
				vertical-align: middle;
			}
			.arrow {
				width: calc(4rem * $zoom);
				height: calc(4rem * $zoom);
				vertical-align: middle;
			}
		}
	}
	.list-view-section-body {
		padding-bottom: 5rem;
	}
}

/** 主页样式 end **/

/** 房间样式 begin **/
.room{
	.icon2 {
		display: inline-block;
		width: calc(4.5rem * $zoom);
		height: calc(4.5rem * $zoom);
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		&.back2{
			 background: url($img-dir/common_nav_btn_back_n.png) center no-repeat;
			 background-size: 2rem 2rem;
		 }
		&.setting {
			 background: url("$img-dir/common_nav_btn_setting_n.png") center no-repeat;
			 background-size: 2.15rem 2.15rem;
		 }
	}
	
	.toolbar{
		height: 7.33rem;
	}
	
	.room-icon1{
		display: inline-block;
		width: 3.66rem;
		height: 3.66rem;
		margin-top: calc((100vw * 0.29) / 2 - 3.66rem / 2);
		margin-left: calc((100vw * 0.29) / 2 - 3.66rem / 2 );
		background: transparent center no-repeat;
		background-size: contain;
	}
	
	.room-icon2{
		display: inline-block;
		width: 3.66rem;
		height: 3.66rem;
		background: transparent center no-repeat;
		background-size: contain;
	}
	.room-icon-default{
		background-image: url($img-dir/add_room_icon_default_image.png);
	}
	.room-icon-bedroom{
		background-image: url($img-dir/room_icon_bedroom.png);
	}
	.room-icon-bedroom2{
		background-image: url($img-dir/room_icon_bedroom2.png);
	}
	.room-icon-bedroom3{
		background-image: url($img-dir/room_icon_bedroom3.png);
	}
	.room-icon-bathroom{
		background-image: url($img-dir/room_icon_bathroom.png);
	}
	.room-icon-bathroom2{
		background-image: url($img-dir/room_icon_bathroom2.png);
	}
	.room-icon-diningroom{
		background-image: url($img-dir/room_icon_dinning_room.png);
	}
	.room-icon-diningroom2{
		background-image: url($img-dir/room_icon_dinning_room2.png);
	}
	.room-icon-balcony{
		background-image: url($img-dir/room_icon_balcony.png);
	}
	.room-icon-basement{
		background-image: url($img-dir/room_icon_basement.png);
	}
	.room-icon-kitchen{
		background-image: url($img-dir/room_icon_kitchen.png);
	}
	.room-icon-fault{
		background-image: url($img-dir/room_icon_fault.png);
	}
	.room-icon-living-room{
		background-image: url($img-dir/room_icon_living_room.png);
	}
	.room-icon-outside{
		background-image: url($img-dir/room_icon_outside.png);
	}
	.room-icon-study{
		background-image: url($img-dir/room_icon_study.png);
	}
	.room-icon-study2{
		background-image: url($img-dir/room_icon_study2.png);
	}
	.text-btn{
		position: absolute;
		right: 1.5rem;
		color: #419CF9;
		font-size: $fontsize15;
		font-weight: 500;
	}

	.title{
		padding: 0 0 0 1.33rem;
		margin: 0;
		font-size: $fontsize15;
		/* border: 1px solid #EEE; */
	}

	.room-icons{
		background-color: $bg-major-color;
		height: 100vh;
		.space-icon{
			background-color: $text-color;
			border-radius: 5px;
		}
		
		/*滚动view*/
		.scroll-view{
			height: calc(100vh - 64px);
			overflow-x: hidden;
			overflow-y: auto;
		}
		.icon-list{
			display: flex;
			padding: 0;
			margin-bottom: 2rem;
			flex-wrap: wrap;
			background: #3A4056;
		}
		.icon-item{
			margin: 1rem 0 0 0.95rem;
			width: calc(100vw * 0.29);
			height: calc(100vw * 0.29);
			box-sizing: border-box;
			background: $color-line center no-repeat;
			border-radius: 0.33rem;
		}
		.icon-item-select{
			margin: 1rem 0 0 0.95rem;
			width: calc(100vw * 0.29);
			height: calc(100vw * 0.29);
			box-sizing: border-box;
			background: $color-major center no-repeat;
			border-radius: 0.33rem;
		}
	}
	.empty-device-tip{
		text-align: center;
		color: $text-color;
		margin-top: 7rem;
	}
}
/** 房间样式 end **/

.room.main {
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	height: 100vh;
    width: 100vw;
	background-image: url($img-dir/bg.png);
    background-size: cover;
	.switch-home {
		height: calc(6.67rem * $zoom);
		overflow: hidden;
		position: fixed;
		z-index: 3;
		.view {
			font-size: calc(54px * $zoom);
			height: calc(54px * $zoom);
			line-height: calc(54px * $zoom);
			color: $text-color;
			margin-top: calc(1.04rem * $zoom);
			margin-left: calc(2.87rem * $zoom);
			vertical-align: middle;
			span {
				vertical-align: middle;
			}
			.arrow {
				width: calc(4rem * $zoom);
				height: calc(4rem * $zoom);
				vertical-align: middle;
			}
		}
	}
}

/*添加房间模块开始*/
.addRoom-bodyer{
		
		overflow: hidden;
		position:relative;	
		background-color: $bg-major-color;
		height: 100%;		
		.user-head-icon{
			$size: 5.83rem;
			position: absolute;
			width: $size;
			height: $size;
			top: calc(1.66rem + 44px);
			left: 50%;
			margin: calc(-$size/2) 0 0 calc(-$size/2);
			background: $color-line;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: contain;
		}
		.background-image{
			width: 3.33rem;
			height: 3.33rem;
			margin: 1rem 1.1rem ;
			background: center no-repeat;
			background-size: contain;
			}
		.name-root{
			text-align: center;
			color: $text-color;
			font-size: $fontsize17;
		}
		.removeButton {
		text-align: center;
		line-height: 4.165rem;
		margin-top: 1.2rem;
		height: 4.165rem;
		background: $color-assist-2;
		color: $text-color;
		border-radius: 5px;
		font-size: 17px;
    }
    .removeButton1 {
    	width: 90%;
    	margin-left:5%;
		text-align: center;
		line-height: 4.165rem;
		margin-top: 1.2rem;
		height: 4.165rem;
		background: $color-assist-2;
		color: $text-color;
		border-radius: 5px;
		font-size: 17px;
    }
		.user-name{
			display: inline-block;
			margin: 10rem auto 0 auto;
			text-align: center;
			
			span{
				display: inline-block;
				color: white;
				font-size: $fontsize17;
				vertical-align: middle;
			}
			
			.name-input{
				height: 3.66rem;
				display: inline-block;
				color: white;
				text-align: center;
				font-size:  20px;
				vertical-align: middle;
				background-color: transparent;
				border: none;
				padding-right: calc(3rem);
				padding-left: calc(1.67rem);
			}
			
			.input-empty{
				text-align: left;
			}
			
			
			.edit-name-after{
				
				position: absolute;
				display: inline-block;
				vertical-align: middle;
				
				.edit-name-icon{
					top:1rem;
					position: absolute;
					right: 1rem;
					$size: 2rem;
					width: $size;
					height: $size;
					background-image: url($img-dir/sign_in_icon_edit.png);
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
			
			.clear-icon-after{
				position: absolute;
				display: inline-block;
				vertical-align: middle;
				visibility: hidden;
				a{
					position: absolute;
					right: 1rem;
					&.clear-icon{
						top:1rem;
						width: 2rem;
						height: 2rem;
						background-image: url("$img-dir/add_gateway_icon_delete_pre.png");
						background-size: contain;
					}
					
				}
			}
		}
		.account-box{
			$size: 4.66rem;
			width: 90%;
			background-color: $color-line;
			margin-top: 1.5rem;
			height: $size;
			margin-left: 5%;
			background-repeat: no-repeat;
			border-radius: 0.33rem;
			
			.title-span{
				position:absolute;
				margin-left: 5%;			
				font-size: $fontsize17;
				margin-top: calc($size / 2 - ($fontsize17 / 2));
				color: $text-color;
			}
			
			.account-span{
				position:absolute;
				width: 58%;
				margin-left: 29%;
				text-align: right;
				font-size: 14px;
				color: $text-color;
				filter:alpha(Opacity=50); 
				opacity: 0.5;
				margin-top: calc($size / 2 - (14px / 2));
			}
			
		}
		
		.modify-password-box{
			$size: 4.66rem;
			width: 90%;
			background-color: $color-line;
			margin-top: 1.25rem;
			height: $size;
			margin-left: 5%;
			background-repeat: no-repeat;
			border-radius: 0.33rem;
			
			.title-span{
				position:absolute;
				margin-left: 5%;			
				font-size: $fontsize17;
				margin-top: calc($size / 2 - ($fontsize17 / 2));
				color: $text-color;
			}
			
			.arrow-span{
				position:absolute;
				width: 0.8rem;
				height: 1.21rem;
				margin-left: 83%;
				background-image: url($img-dir/choose_wallpaper_icon_default_image.png);
				background-repeat: no-repeat;
				background-size: contain;
				margin-top: calc($size / 2 - (1.21rem / 3));
			}
			
		}
		
		button{
				box-sizing: border-box;
				text-align: center;
				width: 90%;
				height: 4.16rem;
				margin-left: 5%;
				margin-top: 3.33rem;
				margin-bottom: 3.33rem;
				padding: 0;
				padding-left: 1rem;
			    padding-right: 1rem;
				background-repeat: no-repeat;
				outline: none;
				box-shadow: none;
				color: $text-color;
				font-style: inherit;
				font-size: $fontsize17;
				background-color: $color-assist-2;
				border-color: $color-assist-2;
				border-radius: 0.33rem;
		}
		
		
		.room-title{
			position: relative; 
			text-align: left;
			margin-left: 1.77rem;
			font-size:  20px;
			color:$text-color;
		}
		.space-list{
		.am-list-body{
			background: transparent;
		}
		.am-list-body{
			border: none;
			&::before{
				display: none;
			}
			&::after{
				display: none;
			}
		}
		.list-view-section-body{
			display: flex;
			flex-wrap: wrap;
			flex-direction:row;
			box-sizing: border-box;
			padding:0 0.67rem 0.67rem;
			background-color: $bg-major-color;
		}
		
		.list-item{
			position: relative;
			/*width: 14.64rem;*/
			height: 6rem;
			box-sizing: border-box;
			width: calc(100% - 0.29rem);
			margin-top: 1.25rem;
			text-align: left;
			background-color: $text-color;
			margin-left: 1.1rem;
			margin-right: 1.1rem;
			border-radius: 0.33rem;			
		}

		.list-item:nth-child(odd) {
		}
		.list-item:nth-child(even) {
		}

		.space-name{
    		padding: 0 10px;
			color: $text-second-color;
			text-align: left;
			overflow: hidden;
    		text-overflow: ellipsis;
		}

		.space-icon{
			margin: 2.92rem 0 0.67rem;
		}

		.setting-icon{
			position: absolute;
			top: 2rem;
			right: 1.92rem;
			width: 2rem;
			height: 2rem;
			background-size: contain;
		}
		
		.space-account {
			
			span{
				position: absolute;
				width: 3.66rem;
				height: 3.66rem;
				top: 1rem;
    			left: 1rem;
				/* top: 1.16rem;
				left: 1.33rem;
				background-image: url("$img-dir/devices_icon_camera_s.png");
				background-size: contain;
				background-repeat: no-repeat; */
			}
			b{
			position: absolute;
			margin-left: 19.2%;
			color: $text-second-color;
			height: 1.33rem;
			top: 1.33rem;
			font-size:17px;
			width:19rem;
			overflow: hidden;
			text-overflow:ellipsis;
			}
			p{
			position: absolute;
			margin-left: 19.2%;
			color: $text-second-color;
			height: 1.3rem;
			top: 3rem;
			font-size:13px;
			}
			a {
				position: absolute;
					display: block;
					width: 2rem;
					height: 2rem;
					top: 2rem;
					right: calc(1.33rem);
					background-size: 2rem 2rem;
				background-image: url("$img-dir/common_icon_checkbox_off.png");
				
					&.close{
						background-image: url("$img-dir/common_icon_checkbox_off.png");
					}
					&.open{
						background-image: url("$img-dir/common_icon_checkbox_on.png");
					}
				}
		}

	}
	/* ::-webkit-input-placeholder {
		color: $text-color;
	  }
	  ::-moz-placeholder {
		color: $text-color;
	  }
	  :-ms-input-placeholder {
		color: $text-color;
	  }
	  :-moz-placeholder {
		color: $text-color;
	  } */
	}

	
/*添加房间模块结束*/
