/* .off-line {
	position: relative;
	width: 1.66rem;
	height: 1.66rem;
	left: 3.33rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url($img-dir/edit_scene_icon_offline.png);
	display: inline-block;
} */

.make-happen-style {
	background-color: #3B4054;
	height: 100vh;
	.makeHappen-cell {
		$boxHeight: 6rem;
		$contentHeight: 3.67rem;
		margin-top: 1rem;
		margin-right: 2rem;
		background-color: white;
		border-radius: 0.2rem;
		height: 6rem;
		margin-left: 2rem;
		.makeHappen-icon {
			float: left;
			margin-top: calc(($boxHeight - 3.67rem)/2);
			margin-left: 1rem;
			width: 3.67rem;
			height: 3.67rem;
			background-size: 3.67rem 3.67rem;
		}
		.camera {
			background-image: url($img-dir/devices_icon_camera_s.png);
		}
		.siren {
			background-image: url($img-dir/devices_icon_siren_s.png);
		}
		.curtain {
			background-image: url($img-dir/devices_icon_curtain_s.png);
		}
		.doorlock {
			background-image: url($img-dir/devices_icon_door_lock_s.png);
		}
		.gateway {
			background-image: url($img-dir/devices_icon_gateway_s.png);
		}
		.humiture {
			background-image: url($img-dir/devices_icon_humiture_s.png);
		}
		.keypad {
			background-image: url($img-dir/devices_icon_keypad_s.png);
		}
		.lighting {
			background-image: url($img-dir/devices_icon_lighting_s.png);
		}
		.motion {
			background-image: url($img-dir/devices_icon_motion_s.png);
		}
		.plug {
			background-image: url($img-dir/devices_icon_plug_s.png);
		}
		.plug4 {
			background-image: url($img-dir/devices_icon_plug4_s.png);
		}
		.remote {
			background-image: url($img-dir/devices_icon_remote_s.png);
		}
		.smoke {
			background-image: url($img-dir/devices_icon_smoke_s.png);
		}
		.switch {
			background-image: url($img-dir/devices_icon_switch_s.png);
		}
		.waterLeak {
			background-image: url($img-dir/devices_icon_water_leak_s.png);
		}
		.default {
			background-image: url($img-dir/devices_icon_default.png);
		}
		.makeHappen-text {
			float: left;
			margin-left: 0.5rem;
			height: $contentHeight;
			margin-top: calc(($boxHeight - $contentHeight)/2);
			color: $text-second-color 100%;
			font-size: $fontsize13;
			width: 66%;
			.spanLine {
				display: inline-block;
				height: calc($contentHeight/2);
				line-height: calc($contentHeight/2);
				.txt-bold {
					font-weight: bold;
					color: $text-major-color 100%;
					font-size: $fontsize17;
				}
			}
		}
		.makeHappen-name-text {
			font-family: PingFangSC-Semibold;
			font-size: 17px;
			color: $text-major-color;
		}
		.makeHappen-next {
			float: right;
			margin-top: calc(($boxHeight - 2rem)/2);
			margin-right: 1rem;
			height: 2rem;
			width: 2rem;
			background-size: 90% !important;
			border-radius: 50%;
			background: url($img-dir/automation_icon_right_arrow.png) center no-repeat;
		}
		>span {
			font-family: PingFangSC-Semibold;
			font-size: 15px;
			color: $text-major-color;
			position: absolute;
			margin-top: calc(($boxHeight - 1.5rem)/2);
			right: 6rem;
		}
	}
}

.bodyer {
	$borderRadius: 0.34rem;
	padding: 1rem 1.67rem;
	/* height: 100vh; */
	background: $bg-major-color;
}

.select-device-list {
	padding: 0px;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 86vh; 
	
	>li {
		$liHeight: 6rem;
		$labelSize: 2rem;
		position: relative;
		margin-top: 1.25rem;
		height: $liHeight;
		>label {
			position: absolute;
			width: $labelSize;
			height: $labelSize;
			top: calc(($liHeight - $labelSize) / 2);
			background: url("$img-dir/common_icon_checkbox_off.png") no-repeat center;
			background-size: 80%;
		}
		>label.act {
			background: url("$img-dir/common_icon_checkbox_on.png") no-repeat center;
			background-size: 80%;
		}
		.auto-device-box {
			border-radius: 0.67rem;
			height: $liHeight;
			margin-left: calc($labelSize + 1.34rem);
			margin-right: 1.33rem;
			position: relative;
			border-radius: $borderRadius;
			&.lighting-true{
				background: url("$img-dir/devices_icon_lighting_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.lighting-false{
				background: url("$img-dir/devices_icon_lighting_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.plug-true {
				background: url("$img-dir/devices_icon_plug_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.plug-false {
				background: url("$img-dir/devices_icon_plug_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.plug4-true {
				background: url("$img-dir/devices_icon_plug4_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.plug4-false {
				background: url("$img-dir/devices_icon_plug4_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.light-true{
				background: url("$img-dir/devices_icon_lighting_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.light-false{
				background: url("$img-dir/devices_icon_lighting_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.switch-true {
				background: url("$img-dir/devices_icon_switch_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.switch-false {
				background: url("$img-dir/devices_icon_switch_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.remote-true {
				background: url("$img-dir/devices_icon_remote_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.remote-false {
				background: url("$img-dir/devices_icon_remote_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.camera-true {
				background: url("$img-dir/devices_icon_camera_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.camera-false {
				background: url("$img-dir/devices_icon_camera_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.gateway-true {
				background: url("$img-dir/devices_icon_gateway_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.gateway-false {
				background: url("$img-dir/devices_icon_gateway_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.siren-true {
				background: url("$img-dir/devices_icon_siren_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.siren-false {
				background: url("$img-dir/devices_icon_siren_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.door_lock-true {
				background: url("$img-dir/devices_icon_door_lock_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.door_lock-false {
				background: url("$img-dir/devices_icon_door_lock_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
		
			&.motion-true {
				background: url("$img-dir/devices_icon_motion_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.motion-false {
				background: url("$img-dir/devices_icon_motion_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.plug-true {
				background: url("$img-dir/devices_icon_plug_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.plug-false {
				background: url("$img-dir/devices_icon_plug_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.wifi_plug-true {
				background: url("$img-dir/devices_icon_plug_s.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			&.wifi_plug-false {
				background: url("$img-dir/devices_icon_plug_n.png") no-repeat center;
				background-size: 3.67rem;
				background-position: 1.34rem 1.17rem;
				background-color: $text-color;
			}
			.line{
				position: relative;
				width: 1.66rem;
				height: 1.66rem;
				left: 3.33rem;
				display: inline-block;
				/*&.off-line{
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url($img-dir/edit_scene_icon_offline.png);
				}*/
			}
			>section {
				display: inline-block;
				margin-left: 3.5rem;
				margin-top: 1.17rem;
				font-family: PingFangSC-Semibold;
				>h2 {
					font-family: PingFangSC-Semibold;
					font-size: 16px;
					color: $text-major-color;
					line-height: 3rem;
					padding: 0;
					margin: 0;
					max-width: calc(100vw - 22rem);
					/* width:30vw; */
					/* background-color: rgba(26, 255, 25, 0.1); */
				}
				>h3 {
					font-family: PingFangSC-Regular;
					font-size: 12px;
					color: $text-second-color;
					line-height: 2.83rem;
					padding: 0;
					margin: -1rem 0;
					width:9rem;
					overflow:hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}
			}
			>i {
				$iconSize: 2rem;
				display: inline-block;
				width: $iconSize;
				height: $iconSize;
				position: absolute;
				top: calc(($liHeight - $iconSize) / 2);
				right: 4rem;
			}
			.num_text{
				width:6rem;
				height:6rem;
				line-height:5rem;
				$boxHeight: 6rem;
				float:right;
				display:table;
				/* background-color: rgba(26, 255, 25, 0.1); */
				font-size: 12px;
				>p{
					display:table-cell;
					padding:0;
					margin:0;
					vertical-align: middle;
					color:$text-assist-color;
					> span{
						line-height:normal;
						display:block;
						 width: 6rem;
						 text-align: right; 
						 /* background-color: rgba(179, 40, 172, 0.1); */
					}
				}
				.right_side{
					float: right;
					margin-top: calc(($boxHeight - 2rem)/2);
					margin-right: 1rem;
					height: 2rem;
					width: 2rem;
					background-size: 90% !important;
					border-radius: 50%;
					background: url($img-dir/automation_icon_right_arrow.png) center no-repeat;
				}
			}
		}
	}
}

.during {
	height: 100vh;
	background-color: $bg-major-color;
	.item {
		$inputHeight: 4.67rem;
		$iSize: 2rem;
		position: relative;
		height: $inputHeight;
		line-height: $inputHeight;
		padding: 0 1.33rem;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 0.34rem;
		margin: 1.25rem 1.33rem 0 1.25rem;
		label {
			position: absolute;
			font-family: PingFangSC-Regular;
			font-size: $fontsize14;
			color: $text-color;
		}
		>span {
			position: absolute;
			right: calc(1.33rem + $iSize);
			font-size: $fontsize14;
			color: $text-color;
			opacity: 0.5;
			font-family: PingFangSC-Regular;
		}
		>a {
			display: inline-block;
			position: absolute;
			right: 1.11rem;
			top: calc(($inputHeight - $iSize) / 2);
		}
		>i {
			display: inline-block;
			position: absolute;
			right: 1.33rem;
			top: calc(($inputHeight - $iSize) / 2);
			width: $iSize;
			height: $iSize;
			background-image: url("$img-dir/automation_icon_right_arrow.png");
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	.arrowRight{
		display: inline-block;
		position: absolute;
		right: 1.33rem;
		top: 1.35rem;
		width: 2rem;
		height: 2rem;
		background-image: url("$img-dir/automation_icon_right_arrow.png");
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.omisAbbr{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}